{% load static %}
<!-- General info page -->
<!DOCTYPE html>
<html>
<head>
    <title>Abaci - Learn Smartly</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/outside.css' %}">
    <link rel="icon" href="{% static 'images/traffic_light.png' %}">
</head>
<body>
    <div class="complete-container" id="infocontainer">
        <div class="info"> 
            <h1>About Abaci</h1>
            <p>Abaci is a free tool to help those who struggle. Give them a voice with this free to use tool.</p>
        </div>
        <div id="help-container">
            <div class="info-containers" id="why-container" style="text-align:center;">
                <h1 class="title">Why?</h1>
                <h2 class="subtitle">Why Abaci?</h2>
                <p>As a student I would notice a lot of students struggle in silence and the teacher wouldnt realise as the studentys were always too embarrased to reach out. Abaci is free, anonymous and easy allowing you to help your students to reach out.</p>
            </div>
            <div class="info-containers" id="faqs-container" style="text-align:center;">
                <h1 class="title">FAQ's</h1>
                <h2 class="subtitle">What is Abaci ?</h2>
                <p>Abaci is a free to use tool to increase communication between the teacher and their students to gauge understanding of topics. This leads to better and more efficient learning.</p>
                <h2 class="subtitle">How much is Abaci ?</h2>
                <p>Abaci is completely free for all features and is financed by people who genuinely care about education for all.</p>
                <h2 class="subtitle">How do I use Abaci?</h2>
                <p>Abaci is simple to use! Just create a free teachers account, create a class, add your topics and share the class code to your student's.</p>
            </div>
            <div class="info-containers" id="contact-container" style="text-align:center;">
                <h1 class="title">Contact us</h1>
                <h2 class="subtitle">I have a question or issue!</h2>
                <p>For help with any of our services please email</p>
                <a class="email" href="mailto:help@jskipworth.com">help@jskipworth.com</a>
                <p>Alternatively for any general inquiries about any of our services please contact</p>
                <a class="email" href="mailto:information@jskipworth.com" >information@jskipworth.com</a>
            </div>
        </div>
    </div>
    <div class="right-container">
        <a id="signup" class="bottombutton" href="{% url 'register' %}">Sign up</a>
    </div>
    <div class="left-container">
        <a id="Student" class="bottombutton" href="{% url 'student-home' %}">Student</a>
    </div>
</body>
</html>