{% load static %}
<!-- Student login page (home page) -->
<!DOCTYPE html>
<html>
<head>
    <title>Abaci - Learn Smartly</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/outside.css' %}">
    <link rel="icon" href="{% static 'images/traffic_light.png' %}">
</head>
<body>
    <div class="container" id="signupcontainer">
        {% if messages %}
            {% for message in messages %}
                <div class='message', id="message-{{message.tags}}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class='message', id="message-error">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>
                            <strong class="error-text">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div>
                        <strong class="error-text">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="info"> 
            <h1>Class login</h1>
            <p>Enter your class ID to submit a response</p>
        </div>
        <form method='POST' class="login-field">
            {% csrf_token %}
            {{ form.subject.errors }}
            <div class="field-group" id="logodiv" style="text-align:center;">
                <img src="{% static 'images/Abaci_logo.png' %}" id="logo-home">
            </div>
            <div class="field-groupimg field-group" id="username" style="text-align:center;">
                {{ form.class_id }}
            </div>
            <div class="field-group" id="submit-button" style="text-align:center;">
                <button type="submit" value="Submit" class="green-button" id="register-button">GO</button>
            </div>
        </form>
    </div>
    <div class="right-container">
        <a id="teacher" class="bottombutton" href="{% url 'teacher-portal' %}">Teacher</a>
    </div>
    <div class="left-container">
        <a id="home" class="bottombutton" href="{% url 'info' %}">Info</a>
    </div>
</body>
</html>