{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Abaci - Teacher Portal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inside.css' %}">
    <link rel="icon" href="{% static 'images/traffic_light.png' %}">
</head>
<body>
    <nav id='nav'>
        <a href="{% url 'teacher-portal' %}">
            <img src="{% static 'images/Abaci_logo.png' %}" alt="Abaci" width=150 height=60></img>
        </a>
        <div id="nav-links">
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class='message', id="message-{{message.tags}}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <a id="actiongood" href="{% url 'clss-create' %}">➕</a>
    <h1 class="h1lonetitle" id="h1portal">Classes</h1>
    <div id="columns-portal">
        {% for clss in classes %}
            <div class="class-container" onclick="location.href='{% url 'clss-detail' clss.ID %}'" style="width: 200px; height: 200px;">
                <h1>{{ clss.name }}</h1>
                <h2>ID: {{ clss.ID }}</h2>
                {% for topic in topics %}
                    {% if topic.Clss.ID == clss.ID %}
                        {% if topic.live == True %}
                        {% firstof 'yes' as displayed %}
                            <h2 style="color:#4CBB17">{{ topic.title }}</h2>
                        {% endif %}
                    {% endif %}
                    {% if displayed == 'yes' %}

                    {% else %}
                        <h2 style="color:#E60000">No active topic</h2>
                    {% endif %}
                {% endfor %}
                {{ displayed }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
