{% load static %}
<!-- Portal delete class page -->
<!DOCTYPE html>
<html>
<head>
    <title>Abaci - Learn Smartly</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/outside.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inside.css' %}">
    <link rel="icon" href="{% static 'images/traffic_light.png' %}">
</head>
<body>
    <div class="container" id="signupcontainer">
        <nav id='nav'>
            <a href="{% url 'teacher-portal' %}">
                <img src="{% static 'images/Abaci_logo.png' %}" alt="Abaci" width=150 height=60></img>
            </a>
            <div id="nav-links">
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class='message', id="message-{{message.tags}}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class='message', id="message-error">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>
                            <strong class="error-text">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div>
                        <strong class="error-text">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="info"> 
            <h1>Delete post</h1>
            <p>Deleting post</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="prompt-box">
                <h2>Are you sure you want to delete class "{{ object.name }}"?</h2>
                <button type="submit" id="delete">Delete</button>
                <a id="cancel" href="{% url 'clss-detail' object.ID %}">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>